<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>816857496204-knvmme30ouknsunse8l2a6icrr8h39dt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.816857496204-knvmme30ouknsunse8l2a6icrr8h39dt</string>
	<key>API_KEY</key>
	<string>AIzaSyBMyZT0TzIG2BxMYgsWOOaQBvCDL383ouY</string>
	<key>GCM_SENDER_ID</key>
	<string>816857496204</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cremetechnology.oreed</string>
	<key>PROJECT_ID</key>
	<string>oreeed-b044c</string>
	<key>STORAGE_BUCKET</key>
	<string>oreeed-b044c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:816857496204:ios:dd38d10fbe7c343e2ad9a9</string>
</dict>
</plist>